.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: white;
    border-color: rgb(24, 234, 223);
}

.btn.btn-primary.outline.blah:hover, .btn.btn-primary.outline.blah:visited {
    background-color: rgb(24, 234, 223);
}

.btn.btn-primary.outline.blah {
    position: relative;
    margin-left: 38%;
    margin-bottom: 0%; 
    float: center;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #4b4b4b;
    /*color: #4b4b4b;*/
    box-shadow: none;
}

.btn-primary.outline {
  border: 3px solid rgb(24, 234, 223);
  color: rgb(24, 234, 223);
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}


.btn {
    padding: 14px 24px;
    /*border: 0 none;*/
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.row .col-xs-3 .btn .btn-primary .outline :hover {
    background-color: black;
}

.btn-primary {
    background: rgb(24, 234, 223);
    color: #ffffff;
}
 

.btn-primary:active, .btn-primary.active {
    background: black;
    box-shadow: none;
}