html, body { height: 100%; }

html,body{
	background-color:black;
	color:rgb(24, 234, 223);
	font-size: 20px;
}

.timer{
	border: 5px solid rgb(24, 234, 223);
	padding: 15px 30px;
}

.sell_items{
	padding: 15px;
}


#estimateTime{
	font-weight: bold;
	text-decoration: underline;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 17px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-primary.outline {
  border: 3px solid rgb(24, 234, 223);
  color: rgb(24, 234, 223);
  font-weight: bold;
}

.btn.outline {
  border: 3px solid rgb(24, 234, 223);
  background: none;
  padding: 12px 22px;
  color: rgb(24, 234, 223);
  text-align: left;
}

.button-checkbox{
	margin-bottom: 20px;
}

.bcircle{
  color:rgb(24, 234, 223);
  background: none;
  border: 3px solid rgb(24, 234, 223);
}

i[class*="icon"] {
  margin-right:10px;
  line-height: 1;
}

#total-cost{
	border-color: #009cde;
	background-color: #009cde;
	color:white;
	font-style: italic;
	text-align: center;
}