.jumbotron { 
	background-image: url(http://leekuanyew.straitstimes.com/ST/images/chapter1/bg_hero.jpg);
	/*background-repeat: no-repeat;*/
	/*background-color: #000;*/
}

body{
	background-color: #000;
}
/*html, body, #input_container { height: 100%; }*/

title {
	font-family: sans-serif;
	font-weight: bold;
}

div.mainCall.RMB 	{
	padding-top: 0px;
}

.mainCall .callforAction h1 #time {
	text-align: center;
	font-color: white;
	text-shadow: none;
}

h3 {
	color: white;
}

span #date_time {
	color: white;
}

.dtime {
	text-align: center;
	color:white;
	position: relative;
	margin-top: -20%;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #000;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control, .select2-search input[type="text"] {
  height: 42px;
  padding: 8px 12px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  color: rgb(24, 234, 223);
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

body .modal {
    /* new custom width */
    /*width: 560px;*/
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: -280px;*/
}