/*  

Theme Name: High Resolution
Version: 1.0
Description: Photography Wordpress Theme
Author: Vandelay Design
Author URI: http://vandelaydesign.com
This theme is released under GPL:
http://www.opensource.org/licenses/gpl-license.php
*/

@import url(http://fonts.googleapis.com/css?family=Marcellus);

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed,

figure, figcaption, footer, header, hgroup,

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

	margin: 0;

	padding: 0;

	border: 0;

	font-size: 100%;

	font-family: 'raleway', arial;

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section {

	display: block;

}

body {

	line-height: 1;

}

ol, ul {

	list-style: none;

}

blockquote, q {

	quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

	content: '';

	content: none;

}

table {

	border-collapse: collapse;

	border-spacing: 0;

}

*{

	outline:none;

}



/* ---------------- common tags --------------------- */

h1, h2, h3, h4, h5, h6, strong {font-weight:bold;}

i, em { font-style:italic; }

.left {

	float:left;

}

.right {

	float:right;

}

.alignleft{

	text-align:left;	

}

.alignright{

	text-align:right;	

}

.aligncenter{

	text-align:center;	

}

.clear  {

	clear:both;

	line-height:1px;

	height:1px;

}

textarea{

	overflow:auto;

	font-family:Arial, Helvetica, sans-serif; /* Body Font Family Will Come Here */

}

a { 

	color:#0f0f0f;

	text-decoration:none;

}

a:hover {

	color:#bdc3c7;

}

p {

	line-height:20px;

}

img {

	width:100%;

	height:auto;

}



/* ---------------- layout tags --------------------- */



body {

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:14px;

	text-align:justify;

	background-color:#444444;

	background-image:url('');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

.box {

	width:80%;

	min-width:320px;

	margin-left:auto;

	margin-right:auto;

}



/* header */

#header {

	background:#0f0f0f;

	width:100%;

	height:60px;

	margin:auto auto;

	/*opacity:0.5;*/

	/*filter:alpha(opacity=0.5);*/ /* For IE8 and earlier */

}

#logo {

	display:block;

	font-size:18px;

	font-family: 'Cinzel', serif;

	width:120px;

	height:60px;

	color:#fff;

	float:left;

	padding-left:20px;

}

#logo a {

	color:#fff;

}

#logo div{

	display:table;

	text-align:left;

	height:60px;

	width:100%;

}

#logo div span{

	display:table-cell;

    	vertical-align:middle;
	
}

#navigation {

	width:78%;

	height:30px;

	float:right;

	padding:15px 15px;

}

#navigation ul {

	float:right;

}

#navigation li {

	float:left;

	font-size:12px;

	color:#fff;

	line-height:30px;

	position:relative;

	padding:0 0 0 20px;

}

#navigation a {

	display:block;

	height:30px;

	color:#fff;

}

#navigation a:hover, #navigation a.active {

	color:#95a5a6;

}

/* Dropdown */

#navigation ul li:hover a {

	position:relative;

	color:#95a5a6;

	text-decoration:none;

}

#navigation ul li:hover li a {

	background:none;

	color:#fff;

}

/* LEVEL TWO */

#navigation ul ul { 

	visibility:hidden;

	position:absolute;

	top:100%;

	left:10px;

	font-size:60%;

	z-index:10000;

	height:auto;

	margin:0;

	padding:12px 0 0 0;

	background:#414040;

	border-top:solid 5px #fff;

	width:auto;

}

#navigation ul ul li { 

	margin:0;

	text-align:left;

	line-height:16px;

	padding:0 0 14px 0;

	display:block;

	white-space:nowrap;

	text-transform:none;

}

#navigation ul ul li a { 

	margin:0;

	color:#fff;

	height:auto;

	padding:0 17px;

	display:block;

}

#navigation ul ul li a:hover {

	color:#95a5a6;

}

/* LEVEL THREE */

#navigation ul ul ul { 

	left: 100%; 

	top: 0;

}

#navigation ul li:hover > ul {

	visibility: visible;

}

/* footer */

#footer {

	width:100%;

	font-size:12px;

	color:#0f0f0f;

	text-align:center;

	padding:2% 0;

}



/* container */

#container {

	background-color:#ffffff;

	width:100%;

	max-width:1000px;

	margin-left:auto;

	margin-right:auto;

	box-shadow: 5px 5px 5px #000000;

}

#leftcol {

	width:94%;

	margin-left:auto;

	margin-right:auto;

}

#archiveleftcol {

	width:80%;

	max-width:500px;

	margin-left:auto;

	margin-right:auto;

}

#rightcol {

	width:0%;

	padding:0px 0;

}



/*-----------------------------*/

/* Comments */



#comments {

	width:100%;

	padding:20px 0;

}

#comments h4 {

	font-size:18px;

	font-weight:normal;

	padding-bottom:10px;

	font-style:italic;

	font-family:Georgia, Times, serif;

}

#comments ol {

	border-bottom:solid 1px #e0dfdf;

}

#comments li {

	border-top:solid 1px #e0dfdf;

	padding:20px 0 0 0;

	line-height:20px;

}

#comments li.first, #comments li:first-child {

	border-top:none;

}

#comments li li {

	padding-left:80px;

}

#comments ol ul {

	border-top:solid 1px #e0dfdf;

	border-bottom:none;

}

#comments p {

	padding-bottom:20px;

}

#comments .name-block {

	padding:0 0 20px 0;

	white-space:nowrap;

}

#comments .name-block img {

	float:left;

	margin-right:10px;

}

#comments a {

	color:#34495e;

	text-decoration:underline;

}

#comments a:hover {

	text-decoration:none;

}

#comment span.more a {

	color:#fff;

	text-decoration:none;

	padding:4px 8px;

}

#comments .comment-text a.comment-reply-link {

	width:48px;

	text-align:center;

	line-height:24px;

	display:block;

	text-decoration:none;

	background:#0f0f0f;

	color:#fff;

	margin-bottom:20px;

}

#comments .cancel-comment-reply a{

	position:relative;

	top:-41px;

	right:-170px;

	text-align:center;

	width:52px;

	z-index:1;

	line-height:24px;

	display:block;

	text-decoration:none;

	background:#0f0f0f;

	color:#fff;

}

#comments .cancel-comment-reply a:hover, #comments .comment-text a.comment-reply-link:hover

	background:#333;

	color:#000;

}



/*---------------- respond -------------*/

#respond{

	width:100%;

	padding:10px 0;

}

#respond h4{

	font-size:18px;

	font-weight:normal;

	padding:0 0 20px 0;

}

#respond label{

	display:block;

	padding:0 0 10px 0;

}

#respond .input{

	width:55%;

	height:14px;

	background:#fff;

	border:solid 1px #e0dfdf;

	margin:0 0 20px 0;

	padding:8px 10px;

}

#respond .textarea{

	width:65%;

	height:178px;

	background:#fff;

	overflow:auto;

	border:solid 1px #e0dfdf;

	padding:10px;

	margin:0 0 25px 0;

}

#respond .button {

	background:#0f0f0f;

	width:82px;

	height:48px;

	float:left;

	cursor:pointer;

	font-size:14px;

	border:none;

	color:#fff;

}

#respond .button:hover {

	background:#333;

}



/*-----------------------------*/

/* 3. WIDGETS */

.widget {

	width:260px;

	padding:0 0 30px 20px;

	float:left;

}

.widget li {

	display:block;

	line-height:16px;

	border-bottom:dashed 1px #e3e3e3;

	padding:8px 20px;

}

.widget li.first a, .widget li:first-child a {

	padding-top:0;

}

.widget li a {

	display:block;

}

.widget li a:hover {

	text-decoration:underline;

}

.widget .input, .widget input[type="text"] {

	background:#fff;

	width:164px;

	height:14px;

	font-size:11px;

	color:#0f0f0f;

	float:left;

	border:solid 1px #e0dfdf;

	padding:8px 10px;

	margin:0 8px 0 0;

}

.widget .button, .widget input[type="submit"] {

	background:#0f0f0f;

	width:66px;

	height:30px;

	border:none;

	float:left;

	cursor:pointer;

	font-size:14px;

	color:#fff;

	margin:1px 0 0 0;

}

.widget .button:hover, .widget input:hover[type="submit"] {

	background:#333;

}

.widget h4 {

	font-size:24px;

	font-family:Georgia, Times, serif;

	font-style:italic;

	font-weight:normal;

	padding-bottom:20px;

}

.widget ul {

	margin:0 -20px;

}

.widget p, .textwidget {

	line-height:20px;

}

/* Search Box Title Hide */

.widget_search label.screen-reader-text{display:none;}



/*-----------------------------*/



/* 4. POSTS */

/*-----------------------------*/

h2.post-title, h2.page-title {

	font-family: 'Cinzel', serif;

	font-size:30px;

	font-weight:normal;

	padding-bottom:10px;

	text-align:left;

}

h2.archive-post-title {
	
	font-family: 'Cinzel', serif;

	font-size:300px;

	font-weight:normal;

	padding-bottom:10px;
}

h2.page-title {

	padding-bottom:24px;

}

h3.result-heading {

	font-size:30px;

	padding-bottom:30px;

	font-weight:normal;

	color:#34495e;

	font-family: 'Cinzel', serif;	

}

.post h2 {

	font-family: 'Cinzel', serif;

	font-size:30px;	

	padding-top:30px;

	padding-bottom:30px;

}

.post.listing {

	padding-bottom:10px;

	margin-left:auto;

	margin-right:auto;

}

.post.listing .entry p {

	padding-bottom:10px;

}

.post.listing .entry p a {

	color:#34495e;

	text-decoration:underline;

}

.post.listing .entry p a:hover {

	text-decoration:none;

}

.post .meta {

	display:block;

	padding-bottom:20px;

	padding-left:10px;

}

.entry p {

	padding-bottom:20px;
	
	margin-left:auto:

	margin-right:auto;

	line-height:20px;

}

.entry a, .post .meta a {

	color:#2980b9;

	text-decoration:underline;

}

.post .meta a:hover {

	text-decoration:none;

}

.entry a:hover {

	text-decoration:none;

	color:#2c3e50;

}

span.more {

	display:block;

	padding-left:10px;

}

span.more a {

	background:#0f0f0f;

	display:inline-block;

	color:#fff;

	padding:20px 20px;

	text-decoration:none;

}

span.more a:hover {

	background:#333;

	color:#fff;

}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {

	font-size:18px;

	padding-bottom:20px;

	font-family: 'Cinzel', serif;

	text-align:left;

}

.entry h1{

	font-size:36px;

	font-family: 'Cinzel', serif;

	margin-left:auto;

	margin-right:auto;

	text-align:left;

}

.entry h2{

	font-size:28px;

	font-family: 'Cinzel', serif;

	margin-left:auto;

	margin-right:auto;

	text-align:left;

}

.entry h3 {

	font-size:20px;

	font-family: 'Cinzel', serif;

	margin-left:auto;

	margin-right:auto;

	text-align:left;

}

.entry h3, .entry h4, .entry h5, .entry h6 {

	font-weight:normal;

	font-family: 'Cinzel', serif;

	padding-top:15px;

	text-align:left;

}

.entry blockquote  {padding: 10px 20px 10px 50px; background:url(images/blockquote.png) no-repeat; }



.entry blockquote p  { font-style:italic; }



.entry li{padding:3px 0;}



.entry ul  { margin: 0 0 15px 0; padding: 0 0 0 15px; }



.entry ul li{list-style-type:square;}



.entry ul ul  { margin: 0; }



.entry li{line-height:20px;}



.entry a{text-decoration:underline;}



.entry a:hover{text-decoration:none;}



.entry ul ul li  { list-style-type: circle; }



.entry ol  { margin: 0 0 15px 0; padding: 0 0 0 20px; }



.entry ol ol  { margin: 0; }



.entry  ol li  { list-style-type: decimal; }



.entry  ol li ol li  { list-style-type: lower-latin; }



.entry pre{ white-space:normal;}



/* gallery */

#fullcolumn #container {

	background:#fff;

	width:880px;

	padding:30px 30px 0 30px;

}

#fullcolumn .pagination{

	padding-bottom:50px;

}

#fullcolumn #footer {

	width:100%;

}

.gallery {

	width:90%;

	margin:0 -30px 0 0;

}

.gallery h2.page-title {

	padding-bottom:30px;

}

.gallery li {

	float:left;

	margin:0 30px 30px 0;

}

.gallery li img {

	float:left;

}

/* 4.2 Images */



.entry .thumb { padding: 1px; text-align:center; background:#F8F8F8;  border: solid 1px #e6e6e6; }

img.wp-smiley  { padding: 0; border: none; }

.alignleft  { float: left; width: auto; margin: 5px 15px 15px 0; }

.alignright  { float: right; width: auto; margin: 5px 0 15px 15px; }

.aligncenter  { text-align: center; margin-bottom:15px;}

img.aligncenter  { margin-left:auto; margin-right:auto; display:block; }

.entry .gallery-caption {}

.entry .wp-caption { padding: 1px; text-align:center; background:#F8F8F8;  border: solid 1px #e6e6e6; }

.entry .wp-caption img{ margin:0; padding:4px 0; background:none; border:0; }

.entry .wp-caption-text { margin:0; padding:0; font:11px/22px Arial, Helvetica, sans-serif; text-align:center; }

.entry .wp-caption.aligncenter { margin:0 auto 15px; }





/* 4.3 Page Navi */



.pagination {

	width:100%;

	height:30px;

	padding:0 0 10px 0;

}

.pagination span.current, .pagination a:hover {

	float:left;

	background:#0f0f0f;

	line-height:28px;

	padding:0px 10px;

	border:solid 1px #0f0f0f;

	margin-right:10px;

	color:#fff;

}

.pagination a {

	background:#efefef;

	float:left;

	line-height:28px;

	padding:0 10px;

	border:solid 1px #e0dfdf;

	margin-right:10px;

}

.pagination a.last, .pagination a.last:hover {

	margin-left:100px;

}

.pagination span.numbers {

	float:right;

	line-height:30px;

}


/* 5. Call for Action on Homepage */

.mainCall h1 {

	font-size:44px;
	font-family: Georgia, sans-serif;
	font-color:#ffffff;
	text-shadow:2px 2px #000000;

}

.mainCall h2 {
	
	font-size:60px;
	font-family: sans-serif;
	font-color: white;
	text-shadow:none;
	position: relative;
	margin-right: 10%;
}

#callForAction {

	position:relative;
/*	width:100%; */
/*	height: 500px;*/
	margin-top: 17%; 
	margin-left:10%;
}


.actionButton {

	cursor:pointer;
	
	border:none;
	
	width:150px;
	
	height:50px;
}

#learnMore {

	background: url(http://www.rememberingleekuanyew.sg/wp-content/uploads/2015/03/btnLearnMore_70.png) no-repeat;

}

#learnMore:hover {

	background: url(http://www.rememberingleekuanyew.sg/wp-content/uploads/2014/04/btnLearnMore_hover.png) no-repeat;

}

#leaveTribute {

	background: url(http://www.rememberingleekuanyew.sg/wp-content/uploads/2015/03/btnWriteTribute_70.png) no-repeat;

}

#leaveTribute:hover {

	background: url(http://www.rememberingleekuanyew.sg/wp-content/uploads/2014/04/btnWriteTribute_hover.png) no-repeat;

}

@media only screen and (max-width: 640px) {
	body {
	
		background: #FFFFFF;
	
	}
	
	.mainCall h1 {
		font-size:28px;
	
		font-family: 'Cinzel', serif;

		font-color:#ffffff;

		text-shadow:2px 2px #000000;
	}

	.mainCall h2 {
		font-size:20px;
	
		font-family: 'Cinzel', serif;

		font-color:#ffffff;

		text-shadow:2px 2px #000000;
	}

	#callForAction {
	
		position:fixed; 

		width:100%; 

		height:140px; 

		margin-left:10%;

		bottom:8%;

	}

	.actionButton {
	
        cursor:pointer;
	
		border:none;
	
		width:100%;
	
		height:100%;
	
	}
		
}


/* 5.1 Submission forms */

.cfTextfield {
	
	width:50%;
	
	min-width:280px;
	
	padding:5px;
	
	font-size:14px;
	
}

.cfTextfield:focus {
	color: #333;  
	
	border-color: rgba(41, 92, 161, 0.4);


	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);  

  	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);  

  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);  

  	outline: 0 none; 
}

.btnReset {
	color: white;

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

	background: #bdc3c7;

	padding-left:20px;

	padding-right:20px;

	padding-top:8px;

	padding-bottom:8px;

	font-size:14px;

	cursor:pointer;

	min-width:140px;
}

.btnReset:hover {

	background: #9FA5A9;
	
}

.btnSend {

	color: white;

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

	background: #3C3C3C;

	padding-left:20px;

	padding-right:20px;

	padding-top:8px;

	padding-bottom:8px;

	font-size:14px;

	cursor:pointer;

	min-width:140px;
	
}

.btnSend:hover {

	background: #000000;
	
}

.captcha {
	
	width:33.33%;
	
	max-width:280px;
	
}



/* 6. GENERAL STYLES */

/*-----------------------------*/

.floatl  {float: left;}

.floatr  {float: right;}

.alignl  {text-align: left;}

.alignr  {text-align: right;}

.alignc  {text-align: center;}



/* http://sonspring.com/journal/clearing-floats */

html body * span.clear,

html body * div.clear,

html body * li.clear,

html body * dd.clear

{background: none;border: 0;clear: both;display: block;float: none;font-size: 0;list-style: none;margin: 0;padding: 0;overflow: hidden;visibility: hidden;width: 0;height: 0;}



/* Align */

.aligncenter {margin: 10px auto 20px auto;display: block;}

.alignleft {margin: 10px 20px 8px 0;float: left;}

.alignright {margin: 10px 0px 8px 20px;float: right;}

.col-left {float: left;}

.col-right {float: right;}



/* PageNavi */

.more_entries {font-size:11px;}

.more_entries .wp-pagenavi {clear:both;float: right;}

.more_entries .wp-pagenavi a {text-decoration: none !important;}

.more_entries .wp-pagenavi .current, 

.more_entries .wp-pagenavi .on,

.more_entries .wp-pagenavi a:hover {background: #9f9f9f !important;}

.more_entries .wp-pagenavi a,

.more_entries .wp-pagenavi a:link,

.more_entries .wp-pagenavi a:visited, 

.more_entries .wp-pagenavi .current, 

.more_entries .wp-pagenavi .on,

.more_entries .wp-pagenavi span.pages { background: #EEEEEE;color: #666; padding: 4px !important; margin-left: 4px; border:1px solid #DDDDDD; line-height:24px; }

.more_entries .wp-pagenavi .extend { background:none; border:none; }



/* Misc */

.wrap:after{content: "."; display: block;height: 0;clear: both; visibility: hidden;}

.fix{clear: both;height: 1px;margin: -1px 0 0;overflow: hidden}

.fl{float: left}

.fr{float: right}

.ac{text-align: center}

.ar{text-align: right}

img.centered{display: block;margin-left: auto;margin-right: auto;}

.wp-caption {background-color:#EEEEEE;border:1px solid #DDDDDD;padding:4px 0 5px;text-align:center;}

.wp-caption-text {padding:3px 0 0;font-size:11px;}