title {
	font-family: sans-serif;
	font-weight: bold;
}

div.mainCall.RMB 	{
	padding-top: 0px;
}


.mainCall .callforAction h1 #time {
	text-align: center;
	font-color: white;
	text-shadow: none;
}

h3 {
	color: white;
}

span #date_time {
	color: white;
}

.dtime {
	text-align: center;
	color:white;
	position: relative;
	margin-top: -20%;
}